/*!
 * Site web personnel of jérémy Grégoire - 
 */
.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

body {
  color: #d6d9ee;
  background: #0d0f1f; }

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.btn-primary {
  color: #d6d9ee;
  background-color: #0d0f1f;
  border-color: #0d0f1f; }
  .btn-primary:hover {
    color: #d6d9ee;
    background-color: #242955;
    border-color: #242955; }
  .btn-primary:focus, .btn-primary.focus, .btn-primary:active {
    box-shadow: none; }
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #242955;
    border-color: #242955; }
  .btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #242955;
    border-color: #242955; }
  .btn-primary:not([disabled]):not(.disabled):active:focus, .btn-primary:not([disabled]):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none; }

svg.hidden {
  display: none; }

/* ===========================
		 PAGES CONTENT
=========================== */
main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.content {
  position: relative;
  width: 100%;
  height: 100vh; }
  .content .content-inner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }

/* ===========================
	   BLOC TRANSITION
=========================== */
.content-intro .shape-wrap {
  position: relative;
  z-index: 10;
  margin: -5px 0 0 0;
  /* Hide the gap */ }
  .content-intro .shape-wrap .shape {
    display: block;
    width: 100%;
    height: 100vh;
    fill: #0d0f1f; }

/* ===========================
		  BLOC TOP
=========================== */
.content-intro {
  z-index: 100;
  height: 200vh; }
  .content-intro .content-inner {
    background: #0d0f1f; }

/* ===========================
		  BLOC BOTTOM
=========================== */
.content-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d6d9ee; }

/* ===========================
		  BTN ENTER
=========================== */
.content-intro .content-inner .enter {
  margin: 6vh 0 0 0;
  font-family: "agendaregular";
  font-size: 1em;
  font-weight: bold;
  color: #d6d9ee;
  letter-spacing: 3px;
  white-space: pre;
  pointer-events: auto;
  cursor: pointer; }
  .content-intro .content-inner .enter:hover, .content-intro .content-inner .enter:focus {
    color: #0d0f1f; }
  .content-intro .content-inner .enter span {
    display: inline-block; }

/* =============================
	           RS
============================= */
.rs {
  position: absolute;
  display: none;
  right: 1.8em;
  bottom: 0;
  z-index: 10;
  width: 40%;
  height: 100px;
  margin: 0;
  filter: url("../index.html#goo"); }

@media only screen and (min-width: 768px) {
  .rs {
    display: block; }
    .rs.hide {
      display: none; }
    .rs.show {
      display: block; } }

/* =============================
	     BUTTON TOGGLE
============================= */
.rs-button, .rs-toggle-button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #d6d9ee;
  text-align: center;
  cursor: pointer;
  background: #0d0f1f;
  border: none;
  border-radius: 50%;
  outline: none; }
  .rs-button:focus, .rs-toggle-button:focus {
    outline: none; }

.rs-toggle-button {
  z-index: 10;
  font-size: 1.5em; }

.rs-button {
  font-size: 2em;
  transform: scale(0.95, 0.95); }
  .rs-button:hover {
    font-size: 2.5em;
    color: #d6d9ee; }

/* =============================
	      RS ITEMS
============================= */
.rs-items {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.rs-item {
  display: block; }

/* ===========================
         NAV 0VERLAY
=========================== */
.menu-overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  color: #d6d9ee;
  text-align: center;
  visibility: hidden;
  background: #0d0f1f;
  background-image: url("../img/bg-navigation.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  transition: all 0.2s ease-in-out;
  transform: translateX(-100%); }
  .menu-overlay.active {
    visibility: visible;
    transition-delay: 0.3s;
    transform: translateX(0); }

@media screen and (min-width: 768px) {
  .menu-overlay {
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transform: translateX(0); }
    .menu-overlay.active {
      opacity: 1;
      transition-delay: .03s; } }

.menu-trigger {
  position: fixed;
  top: 1.2em;
  left: 1.2em;
  width: 3em;
  height: 3em; }

@media screen and (max-width: 992px) {
  .menu-trigger {
    z-index: 1002; } }

.menu-trigger .menu-circle {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #0d0f1f;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

.menu-trigger:hover .menu-circle {
  transform: scale(1.5); }

@media screen and (min-width: 992px) {
  .menu-trigger {
    position: absolute; }
    .menu-trigger.active .menu-circle {
      transform: scale(60); } }

/* ===========================
        BUTTON TRIGGER
=========================== */
.menu-trigger .menu-toggle {
  position: fixed;
  z-index: 1002;
  width: 3em;
  height: 3em;
  line-height: 3em;
  color: #d6d9ee;
  text-align: center;
  background: #0d0f1f; }
  .menu-trigger .menu-toggle.rounded {
    border-radius: 100% !important; }
  .menu-trigger .menu-toggle:hover {
    color: #d6d9ee;
    background: #0d0f1f; }

/* ===========================
      BUTTON TRIGGER ICON
=========================== */
.menu-trigger .menu-toggle .menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1px;
  left: 0;
  width: 20px;
  height: 14px;
  margin: auto; }

.menu-trigger .menu-toggle .menu-icon .menu-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d6d9ee;
  border-radius: 2px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .menu-trigger .menu-toggle .menu-icon .menu-line.menu-line-1 {
    top: 0; }
  .menu-trigger .menu-toggle .menu-icon .menu-line.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto; }
  .menu-trigger .menu-toggle .menu-icon .menu-line.menu-line-3 {
    bottom: 0; }

.menu-trigger.active .menu-toggle .menu-icon .menu-line.menu-line-1 {
  transform: translateY(7px) translateY(-50%) rotate(-135deg); }

.menu-trigger.active .menu-toggle .menu-icon .menu-line.menu-line-2 {
  opacity: 0; }

.menu-trigger.active .menu-toggle .menu-icon .menu-line.menu-line-3 {
  transform: translateY(-7px) translateY(50%) rotate(135deg); }

.menu-overlay .nav-links {
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center; }
